Dodge/cocos2d
Dodge/proj.*
!.h
!.cpp
*.opensdf
*.suo
Dodge/proj.win32/build-cfg.json
Dodge/proj.win32/Dodge.sdf
Dodge/proj.win32/Dodge.v12.suo
Dodge/proj.win32/Dodge.vcxproj
Dodge/proj.win32/Dodge.vcxproj.filters
Dodge/Classes/GameActor.h
Dodge/Classes/PlayerVariable.h
Dodge/Classes/PlayerState.h
*.apk